/* CARROUSEL INFINITO */

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

.lang-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  color: white;
  position: fixed;
  z-index: 2;
  bottom: 20px;
  right: 30px;
}

.lang-btn img {
  width: 2rem;
  height: 1.3rem;
  filter: grayscale(100%);
  transition: 0.5s;
}

.lang-btn img:hover {
  filter: grayscale(0%);
  transition: 0.5s;
}

.slider {
  background: white;
  /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125); */
  height: 100px;
  margin: 2.5rem auto 2.5rem auto;
  overflow: hidden;
  position: relative;
  width: 90%;
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  height: 50px;
  width: 250px;
}

/* FIN CARROUSEL INFINITO */

.featured-cars-div {
    margin: 10vh 0 10vh 0;
}

.featured-bikes-div {
    margin: 0 0 10vh 0;
}

.featured-v {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10vw;
    justify-content: space-around;
    align-items: center;
}

.no-format-a {
    text-decoration: none;
    color: inherit;
}

.car-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s ease;
}

.car-card:hover {
    transform: translateY(-10px);
}

.car-photo {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.car-info {
    padding: 15px;
    text-align: center;
}

.car-brand {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
}

.car-model {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #555;
}

.car-status {
    color: white !important;
    padding: .2rem .7rem .2rem .7rem;
    border-radius: 5px;
}

.new-true {
    background-color: #008f0c;
}

.new-false {
    background-color: #565656;
}

.car-status, .car-km, .car-price {
    font-size: 1em;
    color: #777;
    margin-bottom: 5px;
}

.car-price {
    font-size: 1.3em;
    color: #1E88E5;
    font-weight: bold;
    margin-top: 10px;
}

.index-sub-title {
    padding: 5px 10px 5px 10px;
    background-color: #212529;
    color: white;
    width: fit-content;
}

.contact-div {
    background-image: radial-gradient(circle, #555657, #505253, #4b4d4f, #46494b, #414547, #3c4143, #383c40, #34383c, #2f3337, #2a2e32, #262a2e, #212529);
    padding: 15vh 10vw 15vh 10vw;
}

.contact-div-btn {
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 10px 15px 10px 15px;
    font-size: large;
    font-weight: 600;
    transition: all .2s;
}

.contact-div-btn:hover {
    background-color: rgb(75, 75, 75);
    color: white;
    transition: all .2s;
}

.text-justify {
    text-align: justify;
}

.test-drive-div {
    background-image: radial-gradient(circle, #ffffff, #fafafa, #f6f6f6, #f1f1f1, #ededed, #e8e8e8, #e4e4e4, #dfdfdf, #d9d9d9, #d4d4d4, #cecece, #c9c9c9);
    padding: 15vh 10vw 15vh 10vw;
    color: black;
}

.test-drive-div-btn {
    background-color: rgb(75, 75, 75);
    color: white;
    border-radius: 15px;
    padding: 10px 15px 10px 15px;
    font-size: large;
    font-weight: 600;
    transition: all .2s;
}

.test-drive-div-btn:hover {
    background-color: white;
    color: black;
    transition: all .2s;
}

.services-card-div {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}

.services-card-div i {
    font-size: xx-large;
}

.logo-header {
    width: 25%;
}

.logo-footer {
    width: 50%;
}

footer {
    padding: 5vh 5vw 5vh 5vw;
    background-color: #212529;
}

.dropdown-menu {
    min-width: 0;
    border-radius: 0;
}

.dropdown-item:active {
    background-color: black;
}

.designer-signature {
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
    justify-content: right;
    align-items: center;
}

.designer-signature a:hover {
    text-decoration: underline;
}

.jpc-logo {
    width: 10%;
    max-width: 5%;
    filter: invert(1);
}