/* CARROUSEL INFINITO */

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

.lang-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  color: white;
  position: fixed;
  z-index: 2;
  bottom: 20px;
  right: 30px;
}

.lang-btn img {
  width: 2rem;
  height: 1.3rem;
  filter: grayscale(100%);
  transition: 0.5s;
}

.lang-btn img:hover {
  filter: grayscale(0%);
  transition: 0.5s;
}

.slider {
  background: white;
  /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125); */
  height: 100px;
  margin: 2.5rem auto 2.5rem auto;
  overflow: hidden;
  position: relative;
  width: 90%;
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  height: 50px;
  width: 250px;
}

/* FIN CARROUSEL INFINITO */

.featured-v {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10vw;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

.featured-v a {
    text-decoration: none;
    color: inherit;
}

.car-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s ease;
}

.car-card:hover {
    transform: translateY(-10px);
}

.car-photo {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.car-info {
    padding: 15px;
    text-align: center;
}

.car-brand {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
}

.car-model {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #555;
}

.car-status {
    color: white !important;
    padding: 0 .5rem 0 .5rem;
    border-radius: 10px;
}

.new-true {
    background-color: green;
}

.new-false {
    background-color: orange;
}

.car-status, .car-km, .car-price {
    font-size: 1em;
    color: #777;
    margin-bottom: 5px;
}

.car-price {
    font-size: 1.3em;
    color: #1E88E5;
    font-weight: bold;
    margin-top: 10px;
}

.index-sub-title {
    padding: 5px 10px 5px 10px;
    background-color: #212529;
    color: white;
    width: fit-content;
}